<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-custom shadow-sm px-4 py-3 fixed-top">
    <img src="assets/logo5.png" alt="Usra Software Logo" height="40" class="me-2">
    <a class="navbar-brand fw-bold fs-3" routerLink="/core/home">Usra Software</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navMenu" #navbarCollapse>
        <ul class="navbar-nav gap-1 gap-lg-3">
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" routerLink="/" routerLinkActive="active" (click)="closeNavbar()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" routerLink="/core/shared/about" routerLinkActive="active" (click)="closeNavbar()">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" routerLink="/core/shared/services" routerLinkActive="active" (click)="closeNavbar()">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" routerLink="/core/shared/contact" routerLinkActive="active" (click)="closeNavbar()">Contact</a>
            </li>
        </ul>
    </div>
</nav>