<div>
  <!-- HEADER -->
  <app-header></app-header>


  <!-- MAIN CONTENT -->
  <main class="my-5">
    <!-- <div class="text-center mb-4">
      <h1 class="display-5 fw-bold text-custom">Welcome to Usrasoft</h1>
      <h3 class="display-5 fw-bold text-custom">Published in 2025</h3>
      <p class="lead text-muted">Modern Software Solutions with Purpose.</p>
    </div> -->
    <router-outlet></router-outlet>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>













<!-- <div> -->
  <!-- HEADER -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-custom shadow-sm px-4 py-3 fixed-top">
    <a class="navbar-brand fw-bold fs-3" routerLink="/">Usrasoft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navMenu">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <!-- MAIN CONTENT -->
  <!-- <main class="container my-5">
    <div class="text-center mb-4">
      <h1 class="display-5 fw-bold text-custom">Welcome to Usrasoft</h1>
      <p class="lead text-muted">Modern Software Solutions with Purpose.</p>
    </div>
    <router-outlet></router-outlet>
  </main> -->

  <!-- FOOTER -->
  <!-- <footer class="bg-footer-custom text-light text-center py-4">
    <div class="container">
      <p class="mb-1">&copy; 2025 Usrasoft.com. All rights reserved.</p> -->
      <!-- <small>Powered by Angular + Bootstrap</small> -->
    <!-- </div>
  </footer>
</div> -->